<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - André Carvalho</title>
    <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <section class="posts-section">

            <a href="createPost.ejs"><button class="create-button">Criar post</button></a>
            <% posts.forEach(post => { %>
            <article class="post">
                <a href="/post/<%= post.id %>"><h2 class="post-title"><%- post.titulo %></h2></a>
                <p class="post-resume"><%- post.previa %></p>
                <footer class="post-footer">
                    <p><%- new Date(post.data_postagem).toLocaleDateString("pt-BR") %></p>
                </footer>
            </article>
            <% }); %>
        </section>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>